*{
margin: 0;
padding: 0;


}
html,body{

margin: 0;
padding: 0;
box-sizing: border-box;
}

body{

background-color: #100e17;

}

.container{
width: 100vw;
height: 100vh;
display: grid;
justify-content: center;
align-content: center;
color: white;

}

.box-json {

text-align: center;

}

.box-csv{

text-align: center;

}


textarea{
width: 100%;
height: 250px;
}